<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>WikiGPT</title>
    <meta name="description" content="Natural Language Search Results Based on Wikipedia Knowledge and ChatGPT">
    <meta name="viewport" content="initial-scale=1,user-scalable=yes">
    <link rel="apple-touch-icon" href="/static/apple-touch/wikipedia.png">
   <link rel="stylesheet" href="../static/css/style.css">
   <script src="../static/js/spinner.js"></script>
  </head>
  <body id="wikigpt">

    <div class="central-textlogo">
        {% if search_query is not defined %}
            <img class="central-featured-logo" id="wpLogo" src="../static/images/wikipedia-logo.png" width="200" height="183" alt="Wikipedia">
        {% endif %}
      <h1 class="central-textlogo-wrapper">
        <span class="jsl10n localized-slogan wkgpt-logo"> WikiGPT </span>
      </h1>
    </div>
    <strong class="jsl10n localized-slogan wkgpt-description" data-jsl10n="portal.slogan">Natural Language Search Results Based on Wikipedia Knowledge and ChatGPT</strong>

    <div class="search-container">
      <form class="pure-form" id="search-form" data-el-section="search" onsubmit="activateSpinner()" action="/search" method="POST">
        <fieldset>
          <div class="search-input" id="search-input">
            <label for="searchInput" class="screen-reader-text" data-jsl10n="portal.search-input-label">Search WikiGPT</label>
            <input id="searchInput" name="search" type="search" size="20" autofocus="autofocus" accesskey="F" dir="auto" autocomplete="off" required>
          </div>
          <button class="pure-button pure-button-primary-progressive" id="searchBtn" type="submit">
            <i class="sprite svg-search-icon" data-jsl10n="search-input-button">Search</i>
          </button>
        </fieldset>
      </form>
    </div>

    <div class="wkgpt-search-results-row">
      <div class="wkgpt-search-results-column"></div>
      <div class="wkgpt-search-results-column wkgpt-search-results-middle-column">

        {% if search_query is defined %}
            <p>
                <strong class="wkgpt-search-query">
                    {{search_query}}
                </strong>
            </p>
        {% endif %}

        {% if search_results is defined %}
            <p>
                {{ search_results | safe}}
            </p>

            <details class="wkgpt-explainability-details">
                <summary>How WikiGPT got this answer:</summary>
                <p>
                    When you entered your question:
                    <blockquote>
                        {{search_query}}
                    </blockquote>
                </p>
                <p>
                    WikiGPT searched for the most relevant Wikipedia articles:
                    <blockquote>
                        {% for url in wikipedia_urls %}
                            <li><a href="{{ url }}">{{ url }}</a></li>
                        {% endfor %}
                    </blockquote>
                </p>
                <p>
                    Then got the paragraphs below from the article:
                    <blockquote class="bq2">
                        {{wikipedia_corpus}}
                    </blockquote>
                </p>
                <p>
                    Shared your question and Wikipedia paragraphs with ChatGPT and asked it to respond to the question assuming the knowledge in Wikipedia paragraphs is the only one that exists in the universe.
                </p>
                <p>
                    ChatGPT answered with a Natural Language response:
                    <blockquote>
                        {{ search_results | safe }}
                    </blockquote>
                </p>
                <p>
                    WikiGPT shared the response with you. :)
                </p>
            </details>
        {% endif %}



      </div>
      <div class="wkgpt-search-results-column"></div>
    </div>

    {% if search_url is defined %}
        <div class="search-container search-url-container">
            <form class="pure-form" id="copy-form" action="" data-el-section="copy-form">
            <fieldset>
                <div class="search-input" id="search-input">
                <label for="shareURL" class="screen-reader-text" data-jsl10n="portal.search-input-label">Share URL</label>
                <input id="shareURL" name="search" type="search" title="Share URL" autofocus="autofocus" value=https://wiki-gpt-ml.toolforge.org/search/{{search_url}} readonly>
                </div>
                <button class="pure-button pure-button-primary-progressive wkgpt-copy-button" title="Share URL" type="button" onclick="copyToClipboard()">
                <i class="sprite svg-search-icon wkgpt-copy-icon" data-jsl10n="search-input-button">Copy</i>
                </button>
            </fieldset>
            </form>
        </div>
    {% endif %}

    <hr>
    <p class="site-license">
      <small class="jsl10n" data-jsl10n="license">
        This prototype is developed by the <a href="https://www.mediawiki.org/wiki/Machine_Learning" target="_blank">Wikimedia Foundation Machine Learning Team</a>.
      </small>
    </p>

    <script src="../static/js/copy-to-clipboard.js"></script>
  </body>
</html>
